.header {
  margin: 0 auto;
  padding: 0 48px;
  max-width: 1184px;
  max-height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 984px) {
  .header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 16px;
  }
}